/* ---Base Element Styles--- */ 

* {
    box-sizing: border-box;
}

body {
    background-color: #E8E8E8;
}

.box {
    display: inline-block;
    padding: 1em;
}

.images {
    width: 100%;
}

/* ---Base Layout Styles--- */

h2 {
    text-align: center;
    background-color: white;
    margin-bottom: 0;
}

.profile-image {
    padding: 2em;
}

.fig-text {
    text-align: center;
}

/* ---Navigation--- */
a:link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.main-footer {
    text-align: center;
}

.contact-2 {
    margin-top: 10px;
}

.foot {
    display: inline-block;
    margin-top: 30px;
}
.foot-1 {
    font-weight: bold;
}

/* ---Layout Containers--- */

.container {
    margin-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}

.main-header {
    padding: 1em 0;
}


/* ---Media Queries--- */

@media (min-width: 320px) and (max-width: 767px) {

    .nav {
        background-color: #f5f5f5;
        padding: .5em;
        margin: 0 .3em .3em;
    }
    .main-header {
        text-align: center;
    }

    .profile-image {
        width: 90%;
        margin: 0 auto;
        padding: 1em;
    }

    .foot {
        display: none;
    }

    .main-footer {
        text-align: center;
        padding: 1em 0;
    }

    .button {
        display: inline-block;
        margin-top: 50px;
        font-weight: bold;
    }

   .button-1 {
       margin-right: 100px;
   }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .main-header {
        text-align: center;
    }
    
    .profile-image {
        width: 60%;
        float: right;
    }

    .img-text {
        text-align: left;
        margin-top: 30px;
    }
    .nav {
        display: inline-block;
        margin: 10px;
    }

    .foot-mobile {
        display: none;
    }
    .container .flex-item {
      width: 35%;
  }

  .foot {
    margin-left: 10px;
  }

  .foot-1 {
    margin-right: 450px;
  }

}

@media (min-width: 1024px) {
    .navigation {
        display: flex;
        justify-content: space-around;
    }
    .navbar li {
        margin-top: 30px;
        display: inline-block;
    }

    .nav-2 {
        margin: 20px 20px;
    }

   .profile-image {
    width: 45%;
    float: right;
 }

    .img-text {
        text-align: left;
        margin-top: 30px;
    }
    .foot-mobile {
        display: none;
    }
    .container .flex-item {
        width: 25%;
    }
    .foot {
        margin-left: 10px;
    }
    
    .foot-1 {
        margin-right: 450px;
    }
  }